@import "scss/variables";

.router-page-profile-container{
	text-align: center;
	.profile-details{
		padding: .4em;
		width: 100%;
		border-radius: 10px;
		margin-top: 10px;
	}

	.router-page-profile--component-edit-profile-dialog{
		text-align: initial;
		.dialog{
			max-width: 300px;
			max-height: 500px;
			h1{
				font-size: 1.3em;
			}
		}
	}
}