@import "scss/variables";

.router-page-posts-container{
	display: flex;
	justify-content: center;
	section.new-post{
		width: 100%;
		max-width: 500px;
		.user-details{
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: lighten($primary-color, 30%);
			padding: .5em{
				left: 1.4em;
				right: 1.4em;
			}
			border-radius: 30px;
			img{
				border: none;
			}
			p{
				margin-left: 10px;
			}
		}

		.form{
			margin-top: 20px;
			textarea{
				width: 100%;
				padding: 10px;
				height: 100px;
				resize: vertical;
			}
		}
	}
}